.footer {
  background-color: $color-white;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  padding: 34px 10px 33px;

  @include block-centered($mobile-width-min);
}

.footer__logo {
  position: relative;
  display: block;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  width: 130px;

  color: $color-dark-blue;

  letter-spacing: 1px;

  margin-bottom: 20px;
  padding-left: 29px;

  &::before {
    @include background-image("../img/logo-footer-mobile.svg", 20px, 18px);

    top: -3px;
    left: 4px;
  }
}

.footer__nav {
  margin-bottom: 21px;
}

.footer__nav-list {
  list-style: none;

  margin-top: 0;
  padding-left: 5px;
}

.footer__nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: $color-dark-blue;
}

.footer__nav-item {
  margin-bottom: 8px;
}

.footer__address {
  display: none;
}

.footer__phone-list {
  list-style: none;

  margin-top: 0;
  margin-bottom: 19px;
  padding-left: 34px;
}

.footer__phone-item {
  margin-bottom: 16px;

  &:last-child {
    padding-left: 4px;
  }
}

.footer__phone-link {
  position: relative;
  display: inline-block;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: $color-dark-blue;

  margin-bottom: -1px;

  &--mobile {
    &::before {
      top: 1px;
      left: -29px;

      @include background-image("../img/icon-mobile.svg", 10px, 16px)
    }
  }

  &--phone {
    &::before {
      top: 2px;
      left: -33px;

      @include background-image("../img/icon-phone.svg", 16px, 17px)
    }
  }
}

.footer__phone-description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;

  color: $color-grey;

  margin: 0;
  padding-right: 95px;
}

.footer__social-list {
  list-style: none;
  display: flex;

  margin-top: 0;
  padding-left: 5px;
}

.footer__social-item {
  margin-right: 20px;
}

.footer__social-link {
  display: block;

  &--facebook {
    width: 9px;
    height: 16px;

    background-image: url("../img/icon-facebook-mobile.svg");
  }

  &--instagram {
    width: 16px;
    height: 16px;

    background-image: url("../img/icon-instagram-mobile.svg");
  }

  &--twitter {
    width: 16px;
    height: 13px;

    margin-top: 2px;

    background-image: url("../img/icon-twitter-mobile.svg");
  }

  &--youtube {
    width: 16px;
    height: 13px;

    margin-top: 2px;

    background-image: url("../img/icon-youtube-mobile.svg");
  }
}

@media (min-width: $tablet-width-min) {
  .footer {
    width: 100%;
  }

  .footer__wrapper {
    justify-content: space-between;

    flex-direction: row;
    padding: 57px 40px 55px;

    @include block-centered($tablet-width-min);
  }

  .footer__container {
    width: 335px;
  }

  .footer__logo {
    display: block;

    font-size: 18px;
    line-height: 21px;

    letter-spacing: 1px;

    width: 145px;

    margin-bottom: 26px;
    padding-left: 37px;

    &::before {
      @include background-image("../img/logo-footer-tablet.svg", 26px, 24px);

      top: -7px;
      left: 4px;
    }
  }

  .footer__nav-item {
    margin-bottom: 9px;
  }

  .footer__nav {
    margin-bottom: 25px;
  }

  .footer__nav-link {
    font-size: 16px;
    line-height: 22px;
  }

  .footer__address {
    display: block;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    color: $color-grey;

    width: 265px;

    margin: 0;
    padding-left: 5px;
  }

  .footer__phone-list {
    margin-bottom: 26px;
    padding-top: 2px;
    padding-left: 35px;
  }

  .footer__phone-item {
    margin-bottom: 22px;
  }

  .footer__phone-link {
    margin-bottom: 0;

    &--mobile {
      &::before {
        @include background-image("../img/icon-mobile-tablet.svg", 10px, 16px)
      }
    }

    &--phone {
      &::before {
        top: 3px;
        @include background-image("../img/icon-phone-tablet.svg", 16px, 16px)
      }
    }
  }

  .footer__phone-description {
    padding-right: 126px;
  }

  .footer__social-list {
    padding-left: 6px;
  }
}


@media (min-width: $desktop-width-min) {
  .footer__wrapper {
    justify-content: start;

    height: 224px;

    padding: 56px 90px 55px;

    @include block-centered($desktop-width-max);
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;

    min-width: 559px;
  }

  .footer__logo {
    font-size: 20px;
    line-height: 23px;

    letter-spacing: 1px;

    width: 170px;
    height: 25px;

    margin-right: 166px;
    margin-bottom: 10px;
    padding-left: 45px;

    &::before {
      @include background-image("../img/logo-footer-desktop.svg", 30px, 27px);

      top: -8px;
      left: 7px;
    }
  }

  .footer__nav {
    width: 165px;

    margin-bottom: 5px;

    order: 3;
  }

  .footer__nav-item {
    margin-bottom: 9px;
  }

  .footer__address {
    width: 285px;

    padding-right: 20px;
    padding-left: 8px;
  }

  .footer__phone-list {
    display: flex;
    justify-content: space-between;

    width: 511px;
  }

  .footer__phone-item {
    width: 200px;
  }

  .footer__phone-link {
    margin-bottom: 1px;

    &--mobile {
      &::before {
        top: 2px;
      }
    }

    &--phone {
      &::before {
        top: 2px;
      }
    }
  }

  .footer__phone-description {
    padding-right: 26px;
  }

  .footer__social-list {
    padding-top: 4px;
    padding-left: 6px;
  }

  .footer__social-item {
    margin-right: 15px;
  }
}
