.main-slider {
  position: relative;
  overflow: hidden;
}

.main-slider__slides-container {
  display: flex;
  position: relative;

  transition: left 1.5s ease 0s;

  cursor: grabbing;
}

.main-slider__container {
  height: 226px;
  min-width: 100%;
}

.main-slider__wrapper {
  height: 100%;

  &--credit {
    position: relative;
    background-color: $color-bright-blue;

    &::before {

      top: 29px;
      right: 0;

      @include background-image("../img/card-black-mobile.png", 105px, 152px);

      filter: drop-shadow(0px 4px 23px rgba(25, 26, 31, 0.2));
    }
  }

  &--promo {
    width: 100%;

    padding-bottom: 72px;

    background-image: url("../img/slide-promo-mobile.jpg"),
    linear-gradient(to right, #dde2ec 0%, #dde2ec 50%, #F6FCFF 75%, #F6FCFF 100%);
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
  }

  &--offices {
    background-color: #E6F1FE;
    background-image: url("../img/slide-offices-mobile.jpg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

.main-slider__slide {
  padding: 39px 10px 48px 15px;

  @include block-centered(320px);
}

.main-slider__header {
  font-size: 38px;
  line-height: 45px;

  width: 185px;

  margin-top: 0;
  margin-bottom: 6px;

  color: $color-dark-blue;

  &--credit {
    color: $color-white;
  }
}

.main-slider__slogan {
  margin-top: 0;
  margin-bottom: 26px;

  width: 150px;

  color: $color-blue-gray;

  &--credit {
    width: 205px;

    color: $color-white;
  }
}

.main-slider__link {
  @include button($color-white, $color-bright-blue);

  font-size: 14px;
  line-height: 16px;

  width: 188px;

  padding: 14px 10px 13px;

  &--credit {
    @include button($color-dark-blue, $color-white);
  }

  &--offices {
    padding-top: 15px;
    padding-bottom: 12px;
  }
}

.main-slider__dots {
  position: absolute;

  list-style: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  width: 100px;


  margin: 0 0 0 3px;
  padding: 0;

  z-index:4;
}

.main-slider__dot {
  width: 6px;
  height: 6px;

  border-radius: 50%;

  margin-right: 6px;

  background-color: $color-midnight-blue;

  &--current {
    background-color: $color-white;
  }
}

.main-slider__dot--offices.main-slider__dot--current {
  background-color: $color-white-grey;
}

@media (min-width: $tablet-width-min) {
  .main-slider__container {
    height: 300px;
  }

  .main-slider__wrapper {
    &--credit {
      &::before {
        display: none;
      }
    }

    &--promo {
    background-image: url("../img/slide-promo-tablet.jpg"),
    linear-gradient(to right, #dde2ec 0%, #dde2ec 50%, #F6FCFF 75%, #F6FCFF 100%);
    }

    &--offices {
      background-image: url("../img/slide-offices-tablet.jpg");;
    }
  }

  .main-slider__slide {
    position: relative;

    padding: 65px 10px 48px 86px;

    min-width: 768px;

    &--credit {
      &::before {
        top: 38px;
        right: 65px;

        @include background-image("../img/card-white-tablet.png", 270px, 180px);
        filter: drop-shadow(0px 4px 23px rgba(25, 26, 31, 0.2));

        z-index: 2;
      }

      &::after {
        top: 82px;
        right: 150px;

        @include background-image("../img/card-black-tablet.png", 270px, 180px);

        z-index: 3;
      }
    }

    &--promo {
      padding-bottom: 124px;
    }
  }

  .main-slider__gradient-container {
    position: relative;

    &--credit {
      &::before {
        content: "";
        position: absolute;

        top: 36px;
        right: 123px;

        width: 179px;
        height: 199px;

        background: linear-gradient(183.47deg, rgba(56, 65, 255, 0) 27.26%, #3841FF 97.14%);

        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;

        top: -65px;
        right: -10px;

        width: 133px;
        height: 300px;

        background: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027B3 99.79%);

        z-index: 1;
      }
    }
  }

  .main-slider__header {
    font-size: 46px;
    line-height: 54px;

    width: 250px;
  }

  .main-slider__slogan {
    font-size: 18px;
    line-height: 21px;

    margin-bottom: 30px;

    width: 260px;

    &--promo {
      width: 330px;
    }
  }

  .main-slider__link {
    font-size: 16px;
    line-height: 19px;

    width: 206px;

    padding-top: 14px;
    padding-bottom: 15px;
  }

  .main-slider__dots {
    bottom: 15px;
  }

  .main-slider__dot {
    width: 8px;
    height: 8px;

    margin-right: 8px;
  }
}

@media (min-width: $desktop-width-min) {
  .main-slider {
    @include block-centered($desktop-width-max);
  }

  .main-slider__slides-container {
    cursor: default;
  }

  .main-slider__container {
    height: 400px;

    &--credit {
      &::before {
        content: "";
        position: absolute;

        bottom: 0;
        left: 0;

        width: 150px;
        height: 400px;

        background: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 36.31%, #2027B3 99.79%);

        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;

        bottom: 0;
        right: 1px;

        width: 298px;
        height: 400px;

        background: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027B3 99.79%);
      }
    }
  }

  .main-slider__slide {
    padding: 102px 660px 114px 268px;

    min-width: 1366px;

    &--credit {
      &::before {
        top: 61px;
        right: 225px;

        @include background-image("../img/card-white-desktop.png", 334px, 220px);
      }

      &::after {
        top: 119px;
        right: 334px;

        @include background-image("../img/card-black-desktop.png", 334px, 220px);
      }
    }

    &--promo {
      padding-bottom: 167px;

      background-image: url("../img/slide-promo-desktop.jpg");
      background-repeat: no-repeat;
    }

    &--offices {
      background-image: url("../img/slide-offices-desktop.jpg");
      background-repeat: no-repeat;
    }
  }

  .main-slider__gradient-container {
    &--credit {
      &::before {
        top: 29px;
        left: -118px;

        width: 150px;
        height: 269px;

        background: linear-gradient(183.47deg, rgba(56, 65, 255, 0) 66.3%, #3841FF 97.14%);
      }

      &::after {
        top: 29px;
        right: -361px;

        width: 270px;
        height: 269px;

        background: linear-gradient(183.47deg, rgba(56, 65, 255, 0) 27.26%, #3841FF 97.14%);
      }
    }
  }

  .main-slider__header {
    font-size: 54px;
    line-height: 63px;

    width: 370px;

    margin-bottom: 9px;
  }

  .main-slider__slogan {
    font-size: 22px;
    line-height: 26px;

    margin-bottom: 33px;

    width: 370px;

    &--promo {
      width: 400px;
    }
  }

  .main-slider__link {
    font-size: 18px;
    line-height: 21px;

    width: 234px;

    padding-top: 16px;
    padding-bottom: 16px;

    &--offices {
      width: 243px;
    }
  }

  .main-slider__dots {
    bottom: 40px;
  }
}
